/*  layout.less */

// base layout (based on leeds toolkit)
// --------------------------------------------------
html {
    overflow-y:scroll;
}

body {
    margin:0 auto;
    padding:0 1%;
    width:96%;
    max-width:960px;
}

// The black header area
// --------------------------------------------------
.header {
    height:89px;
    h2 {
        position:relative;
        clear:both;
        float:left;
        left:1%;
        top:-.5em;
        margin-bottom:.5em;
        margin-top:0;
    }
    #logo {
        display:block;
        float:right;
        height:54px;
        right:1%;
        top:17px;
        margin:0;
        position:relative;
        .hide-text;
        width:183px;
    }
}

// The content area below the black heading
// --------------------------------------------------
.content {
    .clearfix;
    padding:1%;
    position:relative;
    width:98%;
}

// main tabbed navigation
// --------------------------------------------------
.nav-main {
    width:100%;
}

// breadcrumbs
// --------------------------------------------------
.breadcrumbs {
    width:70%;
}

// The site sidebar - right hand sidebar
// --------------------------------------------------
.site-sidebar {
    float:right;
    min-height:40em;
    padding:0 2% 1em 2%;
    position:relative;
    width:18%;
    display:none !IMPORTANT;
    .right-menu {
        padding-top:1em;
        clear:both;
    }
}

// The section sidebar - left hand sidebar
// --------------------------------------------------
.section-sidebar {
    clear:left;
    float:left;
    margin-right:2%;
    padding-top:1em;
    position:relative;
    width:17%;
}

// site search box
// --------------------------------------------------
.site-search {
    width:19%;
    float:right;
    padding-top:1px;
    margin:0.8em 0 1em 0;
    h4 {
        display:none;
    }
    input {
        .rounded(3px);
        padding:2px;
        &.searchinput {
            width:74%;
            .transition();
        }
        &.searchsubmit {
            width:24%;
            border:1px solid @searchInputBorder;
            .rounded(3px);
            float:right;
        }
    }
}

// search box inside site sidebar
// --------------------------------------------------
.site-sidebar .site-search {
    display:block !IMPORTANT;
    margin:0;
    padding:0;
    float:left;
    width:100%;
    h4 {
        display:block;
        margin:0.8em 0 1em 0;
        line-height:1.1em;
    }
    input {
        &.searchinput {
            width:74%;
        }
        &.searchsubmit {
            width:24%;
        }
    }
}

// hide regular search box if the site sidebar is present
// --------------------------------------------------
.sidebars-site,
.sidebars-both {
    .site-search {
        display:none;
    }
}

// Main content area
// --------------------------------------------------
.content-main {
    float:left;
    margin-bottom:2em;
    padding:0;
    position:relative;

    ul {
        margin:1em 0 1em 1em;
        padding:0;
    }

    table {
        margin:1em 0;
    }

    #nav-below {
        clear:both;
        padding-top:1em;
    }
}

// Footer area
// --------------------------------------------------
.content-info {
    clear:both;
    padding-top:1em;
    margin:0 auto;
    width:100%;
}

// Different Page Layouts
// --------------------------------------------------
.sidebars-site {
    .content-main {
        width:74%;
        .widgetised-page {
            width:77%;
            margin-top:1em;
        }

    }

    .section-sidebar {
        display:none;
    }
}

.sidebars-section {
    .content-main {
        float:right;
        width:81%;
    }
}

.sidebars-both {
    .content-main {
        width:55%;
    }
}

.sidebars-none {
    .content-main {
        width:100%;

        .widgetised-page {
            width:100%;
        }
    }
}

.sidebars-site,
.sidebars-both {
    .nav-main {
        width:77%;
    }
    .site-search {
        display:none;
    }
}

.sidebars-site,
.sidebars-none {
    .section-sidebar {
        display:none;
    }
}

.sidebars-none,
.sidebars-section {
    .nav-main {
        width:100%;
    }

    .site-sidebar {
        display:none;
    }

}

.page-template-uol_home-php,
.page-template-uol_research-php {
    .breadcrumbs {
        display:none;
    }
}

// inline columns
// --------------------------------------------------
.col1, .col2, .col3 {
    .left;
}
.col1 {
    width:17%;
}
.col2 {
    width:36%;
}
.col3 {
    width:55%;
}
.col1r, .col2r, .col3r {
    float:right;
}
.col1r {
    width:23%;
}
.col2r {
    width:42%;
}
.col3r {
    width:51%;
}

// homepage widgets
// --------------------------------------------------
.homepage-widget
{
    float:left;
    margin:0 2% 1em 0;
}

.homepage-widget.col1
{
    width:17%;
}

.homepage-widget.col2
{
    width:36%;
}

.homepage-widget.col3
{
    width:55%;
}

.homepage-widget.col4
{
    width:74%;
}

.homepage-widget.col1w
{
    width:23%;
    margin-right:0;
    float:right;
}

.homepage-widget.col2w
{
    width:42%;
    margin-right:0;
    float:right;
}

.homepage-widget.col3w
{
    width:51%;
    margin-right:0;
    float:right;
}

.homepage-widget.col4w
{
    width:70%;
    margin-right:0;
    float:right;
}

.homepage-widget.col5
{
    width:100%;
    margin-right:0;
}

// margins/padding for posts
// --------------------------------------------------
div.post, div.item
{
    margin-bottom:.5em;
    padding-bottom:.5em;
}

